name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2

      - run: bun install
      - run: bun run lint
      - run: bun test
      - run: bun run typecheck
      - run: bun run build
