name: Release

on:
  push:
    branches:
      - main

permissions:
  id-token: write
  contents: write
  pull-requests: write

concurrency: ${{ github.workflow }}-${{ github.ref }}

jobs:
  release:
    name: Release
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - uses: oven-sh/setup-bun@v2

      - name: Setup Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 20.x
          registry-url: 'https://registry.npmjs.org'

      # npm 11.5.1 or later must be installed for OIDC to work
      - name: Update npm
        run: npm install -g npm@latest

      - run: bun install

      - name: Create Release Pull Request or Publish
        id: changesets
        uses: changesets/action@v1
        with:
          publish: bun run release
          version: bun run version
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
